{% block sw_cms_preview_nwgncy_product_configuration %}
    <div class="sw-cms-preview-nwgncy-product-configuration-form">
        <h4 class="sw-cms-preview-nwgncy-product-configuration-form-headline">
            {{ $tc('sw-cms.blocks.form.name') }}
        </h4>
        <div class="sw-cms-preview-nwgncy-product-configuration-form-inputs">
            <div class="sw-cms-preview-nwgncy-product-configuration-form-input"></div>
            <div class="sw-cms-preview-nwgncy-product-configuration-form-input"></div>
        </div>
        <div class="sw-cms-preview-nwgncy-product-configuration-form-input"></div>
        <div class="sw-cms-preview-nwgncy-product-configuration-form-inputs__action">
            {{ $tc('sw-cms.blocks.form.submit') }}
        </div>
    </div>
{% endblock %}
