{% block sw_cms_element_nwgncy_product_configuration %}
    <div class="sw-cms-el-nwgncy-product-configuration">
        <div class="sw-cms-el-nwgncy-product-configuration__content">
            <h2>{{ $tc('sw-cms.elements.form.name') }}</h2>
            <hr>
            <div class="sw-cms-el-nwgncy-product-configuration-placeholder-listing">
                <div class="sw-cms-el-nwgncy-product-configuration__placeholder"></div>
                <div class="sw-cms-el-nwgncy-product-configuration--subcategory"></div>
                <div class="sw-cms-el-nwgncy-product-configuration--subcategory"></div>
                <div class="sw-cms-el-nwgncy-product-configuration__placeholder--subcategory"></div>
                <div class="sw-cms-el-nwgncy-product-configuration__placeholder--subcategory"></div>
                <hr>
                <div class="sw-cms-el-nwgncy-product-configuration__placeholder"></div>
                <hr>
                <div class="sw-cms-el-nwgncy-product-configuration__placeholder"></div>
            </div>
        </div>
    </div>
{% endblock %}